@using Microsoft.Web.Helpers;
<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@Page.Title - OIJ音乐</title>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script>
        $(function () {
            $("#search-bar button").button({
                icons: {
                    primary: "ui-icon-search"
                }
            });
        });
    </script>
</head>
<body>
    <div id="top-box">
        <div id="logo-box">
            <div>
                <h1>OIJ-Music</h1>
                <img src="~/Images/default_album.png"/>
            </div>
        </div>
        <div id="search-box">
            <form id="search-bar" method="post">
                <input class="ui-widget-header ui-state-default ui-corner-all" type="search" />
                <button type="submit">搜索</button>
            </form>
        </div>
        <div id="user-box">
        </div>
    </div>
    <div id="nav-box"></div>
    <div id="content-box">
        @RenderBody()
    </div>
    <div id="bottom-box">
        <div id="player-box">
            <div id="player-control-box"></div>
            <div id="player-content-box"></div>
            <div id="player-list-button"></div>
        </div>
    </div>
</body>
</html>
