body {
    font: 70% "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e5ff;
    /*min-height: 600px;*/
    min-width: 800px;
}

/*主体框架*/
#top-box {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    min-width: 800px;
    background-color: #ffccdf;
    box-shadow: 0px 0px 10px #808080;
}

#content-box {
    margin-top: 70px;
    padding: 20px;
}

#bottom-box {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    height: 0px;
    width: 100%;
    min-width: 800px;
    background-color: #ffccdf;
    box-shadow: 0px 0px 10px #808080;
    overflow: hidden;
    transition: height 1s;
}

    #bottom-box:hover {
        height: 50px;
    }

/*上边栏内容*/
#logo-box {
    float: left;
    width: 25%;
    height: 100%;
    /*background-color: #b6ff00;*/
}

    #logo-box > div {
        margin: auto;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px #808080 inset;
        padding: 5px;
        width: 200px;
        height: 100%;
        border-radius: 10px;
    }

        #logo-box > div > h1 {
            display: inline;
            float: left;
        }

        #logo-box > div > img {
            box-sizing: border-box;
            height: 100%;
            float: right;
            border-radius: 10px;
        }

#search-box {
    width: 50%;
    height: 100%;
    float: left;
    /*background-color: red;*/
}

    #search-box > form {
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 1.5em;
        position: relative;
    }

#search-bar-input-box {
    margin-right: 80px;
}

    #search-bar-input-box > input {
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }

#search-bar-button-box {
    position: absolute;
    margin-right: 0px;
    top: 5px;
    right: 11px;
}

    #search-bar-button-box > button {
        box-sizing: border-box;
        width: 50px;
    }

        #search-bar-button-box > button + button {
            width: 25px;
        }

#user-box {
    width: 25%;
    height: 100%;
    float: right;
    /*background-color: green;*/
}

/*下边栏内容*/
#player-box {
}

#player-control-box {
}

#player-content-box {
}

#player-list-button {
}

#register-validation-message-box {
    transition: height 1s;
}