body {
    font: 70% "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e5ff;
    /*min-height: 600px;*/
    min-width: 800px;
}

/*主体框架*/
#top-box {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    min-width: 800px;
    background-color: pink;
    box-shadow: 0px 0px 10px #808080;
}

#content-box {
    margin-top: 95px;
}

#bottom-box {
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0px;
    height: 0px;
    width: 100%;
    min-width: 800px;
    background-color: pink;
    box-shadow: 0px 0px 10px #808080;
    overflow: hidden;
    transition: height 1s;
}

    #bottom-box:hover {
        height: 50px;
    }

/*上边栏内容*/

/*LOGO*/
#logo-box {
    float: left;
    width: 25%;
    height: 100%;
    /*background-color: #b6ff00;*/
    padding-left: 5px;
    box-sizing: border-box;
}

    #logo-box > div {
        margin: auto;
        box-sizing: border-box;
        box-shadow: 0px 0px 5px #808080 inset;
        padding: 5px;
        width: 195px;
        /*height: 100%;*/
        height: 140%;
        border-radius: 10px;
        background-color: pink;
    }

        #logo-box > div > h1 {
            font-size: 225%;
            display: inline;
            float: left;
        }

        #logo-box > div > img {
            box-sizing: border-box;
            height: 100%;
            float: right;
            border-radius: 10px;
        }

/*搜索栏*/
#search-box {
    width: 50%;
    height: 100%;
    float: left;
    /*background-color: red;*/
}

    #search-box > form {
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 1.5em;
        position: relative;
    }

#search-bar-input-box {
    margin-right: 80px;
}

    #search-bar-input-box > input {
        box-sizing: border-box;
        text-align: left;
        width: 100%;
    }

#search-bar-button-box {
    position: absolute;
    margin-right: 0px;
    top: 5px;
    right: 11px;
}

    #search-bar-button-box > button {
        box-sizing: border-box;
        width: 50px;
    }

        #search-bar-button-box > button + button {
            width: 25px;
        }

/*用户栏*/
#user-box {
    width: 25%;
    height: 100%;
    float: left;
    /*background-color: green;*/
}

    #user-box > div {
        height: 100%;
        width: 200px;
        margin: auto;
    }

/*用户头像*/
#user-gravatar {
    width: 50px;
    height: 100%;
    float: right;
}

    #user-gravatar > img {
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0 0 5px #808080;
        height: 100%;
        width: 100%;
    }

/*用户信息栏*/
#user-info {
    background-color: #fbffcc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px #808080;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    float: right;
    height: 100%;
    width: 100px;
}

    #user-info > span {
        /*text-shadow: 0px 2px 2px #808080;*/
        font-size: 1.5em;
        font-weight: 700;
    }

/*登录注册按钮*/
#register-login-btn {
    box-sizing: border-box;
    padding: 5px;
    width: 150px;
    font-size: 1.5em;
    margin: auto;
}

/*用户头像弹出菜单*/
#user-menu {
    position: absolute;
}

/*注销对话框*/
#loginout-dialog > p {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/*下边栏内容*/
#player-box {
}

/*登录对话框*/
#login-name-input > input {
    box-sizing: border-box;
    width: 100%;
}

#login-password-input > input {
    box-sizing: border-box;
    width: 100%;
}

#login-autologin-checkbox > span {
    float: left;
}

#login-autologin-checkbox > input {
    float: right;
}

/*登录按钮居中拉伸*/
#login-dialog + div {
    padding: 5px;
}

    #login-dialog + div > div {
        width: 100%;
    }

        #login-dialog + div > div > button {
            box-sizing: border-box;
            width: 100%;
        }

/*登录提示框*/
#login-alert-box > div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 0.7em;
}

#login-alert-p {
    display: inline-block;
}

    #login-alert-p > span {
        margin-right: 0.3em;
        float: left;
    }

/*注册对话框*/
#register-name-input > input {
    box-sizing: border-box;
    width: 100%;
}

#register-mail-input > input {
    box-sizing: border-box;
    width: 100%;
}

#register-password-input > input {
    box-sizing: border-box;
    width: 100%;
}

#register-re-password-input > input {
    box-sizing: border-box;
    width: 100%;
}

/*带图标的提示框*/
.icon-tip {
    display: inline-block;
    padding: 5px;
}

    .icon-tip > span {
        float: left;
    }

#player-control-box {
}

#player-content-box {
}

#player-list-button {
}
