@{
    Page.Title = "登录";
    Layout = "~/_SiteLayout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/sha3.js"></script>

    @*DEBUG*@
    @*<script src="~/Scripts/jquery-2.0.3.js"></script>*@
    @*<script src="~/Scripts/jquery.form.js"></script>*@
    @*DEBUG*@

    <script>
        $(function () {
            $("#login-form").submit(function () {
                var accountName = $("#login-form [name='account_name']");
                var password = $("#login-form [name='password']");

                if (accountName.val() == "") {
                    accountName.next().text("账户名不能为空");
                    return false;
                } else {
                    accountName.next().text("");
                }

                if (accountName.val().length < 2) {
                    accountName.next().text("账户名长度不正确");
                    return false;
                } else {
                    accountName.next().text("");
                }

                if (password.val() == "") {
                    password.next().text("密码不能为空");
                    return false;
                } else {
                    password.next().text("");
                }

                if (password.val().length < 6) {
                    password.next().text("密码长度不正确");
                    return false;
                } else {
                    password.next().text("");
                }

                // 对密码进行摘要
                password.val(CryptoJS.SHA3(password.val()));

                $(this).ajaxSubmit(function (responseText, statusText) {
                    var submitButton = $("#login-form button:last");
                    if (statusText == "success") {
                        var json = eval("(" + responseText + ")");
                        if (json.IsOk) {
                            submitButton.next().text("登录成功");
                        } else {
                            submitButton.next().text("登录失败 原因: " + json.reason + " ErrorId: " + json.ErrorId);
                        }
                    } else {
                        submitButton.next().text("服务器通信失败");
                    }
                });
                return false;
            });
        });
    </script>
}

<div>
    <form id="login-form" method="post" action="~/Account/Ajax/Login">
        <label>
            <span>账户名</span>
            <br />
            <input name="account_name" type="text" />
            <span></span>
        </label>
        <br />
        <label>
            <span>密码</span>
            <br />
            <input name="password" type="password" />
            <span></span>
        </label>
        <br />
        <label>
            <span>下次自动登录</span>
            <input name="remember" type="checkbox" />
        </label>
        <button type="submit">登录</button>
        <span></span>
    </form>
</div>